<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="ElectricityBillProject.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Electricity Billing System</title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div class="header">
            <h1>Electricity Board Billing System</h1>
        </div>
        <div class="content">
        <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </div>
        <div class="footer">
            © 2025 Electricity Board
        </div>
    </form>
</body>
</html>
